@import '../../assets/css/variables.scss';

.buttonNavLink {
  width: 100%;
  max-width: 440px;
  padding: 5px 24px 5px 32px;
  background-color: $nd04;
  border-radius: 60px;
  margin: 12px 8px;
  transition: all 0.3s;

  .link-wrapper {
    transition: all 0.3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
  }

  &:hover {
    transform: scale(1.05) translateY(-4px);
  }
  .title {
    font-size: 36px;
    font-weight: 700;
    transform: translateY(-4px);
    color: $b300;
  }
  .bar {
    display: inline-block;
    width: 60px;
    height: 48px;
    border-bottom: 4px solid $b300;
  }
  .arrow-wrapper {
    width: 40px;
    height: 40px;
    border: 1px solid $primary-color;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 1280px) {
  .buttonNavLink {
    max-width: 100%;
  }
}
