@import '../../assets/css/variables.scss';

.ButtonNavLink {
  width: 100%;
  max-width: 440px;
  height: 68px;
  border-radius: 60px;
  transition: all 0.3s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 24px 8px 32px;
  background-color: $nd04;
  margin: 12px 8px;
  cursor: pointer;
  text-decoration: none;
  &.selected {
    transform: scale(1.05) translateY(-4px);
  }
  &:hover {
    transform: scale(1.05) translateY(-4px);
  }
  .title {
    font-size: 36px;
    font-weight: 700;
    transform: translateY(-4px);
    color: $b300;
  }
  .bar {
    display: inline-block;
    width: 60px;
    height: 48px;
    border-bottom: 4px solid $b300;
  }
  .wrapper-arrow {
    width: 40px;
    height: 40px;
    border: 1px solid $primary-color;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 1280px) {
  .ButtonNavLink {
    max-width: 100%;
  }
}
