@import "assets/css/variables.scss";

.about {
	background: linear-gradient(
		180deg,
		#fff 0%,
		rgba(246, 248, 254, 0.95) 15.53%,
		rgba(245, 248, 254, 0.95) 27.83%,
		rgba(239, 243, 254, 0.91) 43.61%,
		rgba(221, 231, 253, 0.82) 67.49%,
		rgba(193, 211, 251, 0.67) 82.77%,
		rgba(175, 197, 250, 0.57) 93.45%,
		rgba(159, 186, 249, 0.49) 97.09%,
		rgba(127, 163, 247, 0.32) 99.46%,
		rgba(127, 163, 247, 0.2) 100%
	);
}

.about-container {
	display: flex;
	width: 100%;
	padding: 9rem 1.5rem 5rem;
	margin: 0 auto;
	text-align: center;
	max-width: 80rem;

	align-items: center;
	justify-content: center;
	flex-direction: column;

	.title-wrapper {
		margin: 0 auto 3rem;
		.title {
			font-family: "Montserrat";
			font-size: 40px;
			font-weight: 800;
			color: $b300;
			margin-bottom: 1rem;
		}
		.sub-title {
			font-size: 1.5rem;
			font-weight: 500;
			color: $b200;
		}
	}

	.content {
		p {
			color: $b300;
			font-weight: 400;
			font-size: 1.2rem;
			text-align: center;
		}

		.personal-info {
			display: flex;
			color: $b200;
			font-size: 1rem;
			align-items: center;
			justify-content: center;
			gap: 16px;
			margin-top: 1rem;

			a {
				color: $b200;
				text-decoration: underline;
				margin-right: 12px;
			}
		}
	}
}
