@import "assets/css/variables.scss";

.about {
	background-color: $nd04;
}

.about-container {
	display: flex;
	width: 100%;
	padding: 8.5rem 1.5rem 4rem;
	margin: 0 auto;
	max-width: 71.25rem;
	gap: 5rem;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	.title {
		padding: 0 0 3wpx;
		color: $b300;
		font-weight: 900;
		font-size: 3rem;
		font-family: "Montserrat";
	}

	.content {
		h2 {
			color: $b300;
		}

		p {
			margin: 0.6em 0 0.6rem;
			color: $b200;
			font-weight: 400;
			text-align: center;
		}

		.personal-info {
			display: flex;
			color: $nd40;
			font-size: 14px;
			gap: 16px;
			margin-top: 1rem;
			a {
				color: $nd40;
				text-decoration: underline;
				margin-right: 12px;
				&:visited {
					color: $nd40;
				}
			}
		}
	}
}
