@import "assets/css/variables.scss";

.project-modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 0 1.5rem;
	z-index: 100;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: $nd90;

	.close-button {
		display: flex;
		position: fixed;
		top: 2%;
		right: 2%;
		width: 48px;
		height: 48px;
		color: white;
		background-color: $nl20;
		align-items: center;
		justify-content: center;
		border-radius: 32px;
		transition: all 0.5s;

		&:hover {
			background-color: $nl40;
		}
	}

	.content {
		display: flex;
		margin: 4rem auto;
		align-items: center;
		justify-content: center;

		pointer-events: none;
	}
}
