@import "../../assets/css/variables.scss";

.project {
	background-color: $nd03;
}

.project-container {
	width: 100%;
	max-width: 80rem;
	margin: 0 auto;
	padding: 4rem 1.5rem;
	text-align: center;

	.content {
		display: flex;
		flex-wrap: wrap;
		gap: 2rem;
	}
}
