.project-detail {
	width: 100%;
	padding: 2rem 3rem;
	margin: 0 auto;
	max-width: 50rem;
	background-color: $nl100;
	border-radius: 1rem;
	pointer-events: auto;

	.title {
		position: relative;
		color: $b300;
		font-weight: 700;
		font-size: 32px;
		margin-bottom: 1rem;
		.sub-title {
			color: $b200;
			font-weight: 400;
			font-size: 1rem;
			line-height: 1.8;
		}

		a {
			display: flex;
			position: absolute;
			top: 10%;
			right: 0;
			color: $b300;
			font-weight: 700;
			font-size: 1.25rem;
			align-items: center;
			gap: 0.5rem;

			&:visited {
				color: $primary-color;
				background-color: $nd04;
			}
		}
	}

	.bar {
		width: 100%;
		height: 1px;
		background-color: $nd08;
	}

	.body {
		font-size: 18px;
		word-break: keep-all;
		margin-top: 24px;

		p {
			color: $b200;
			font-weight: 400;
			margin-bottom: 1rem;
		}

		strong {
			color: $b200;
			font-weight: 700;
		}

		h1,
		h2,
		h3,
		h4 {
			color: $b300;
			font-weight: 700;
			font-size: 1.25rem;
			margin-bottom: 1.25rem;
		}

		img {
			display: block;
			width: 100%;
			border: 1px solid $nd08;
			margin-bottom: 2rem;
			border-radius: 12px;
			object-fit: contain;
		}
	}
}

@media (max-width: 768px) {
	.project-detail {
		padding: 2rem 2rem;
	}
}
