.container-detail {
  width: 100%;
  max-width: 768px;
  min-height: calc(100vh - 120px);
  margin: 0 auto 60px;
  padding: 64px 28px 128px;
  font-size: 16px;
  .title {
    font-size: 36px;
    line-height: 1.4;
    letter-spacing: -1px;
    font-weight: 600;
    color: $b300;
    padding-bottom: 36px;
    .sub-title {
      font-size: 16px;
      font-weight: 400;
      color: $b100;
    }
  }
  .bar {
    background-color: $nd08;
    max-width: 400px;
    width: 70%;
    height: 1px;
  }
  .body {
    word-break: keep-all;
    font-size: 18px;
    margin-top: 24px;
    line-height: 1.8;
    width: 100%;
    max-width: 768px;
    p {
      margin: 0.6em 0 0.6rem;
      font-weight: 400;
      color: $b100;
      b {
        font-weight: 700;
        color: $b200;
      }
    }
    a {
      font-weight: 400;
      color: $primary-color;
      text-decoration: none;
      background-color: $nd04;
      border-radius: 20px;
      padding: 2px 16px;
      &:visited {
        color: $primary-color;
        background-color: $nd04;
      }
    }
    h1,
    h2,
    h3,
    h4 {
      margin: 1.2em 0 0.4em;
      color: $b300;
    }
    img {
      display: block;
      margin: 16px auto;
      max-width: 100%;
      border-radius: 24px;
      max-height: 500px;
    }
  }
}
@media (max-width: 420px) {
  .container-detail {
    margin: 0 auto;
    padding: 32px 24px 128px;
    .title {
      font-size: 28px;
    }
    .body {
      font-size: 15px;
    }
  }
}
