@mixin flex($valign, $halign) {
  display: flex;
  justify-content: $halign;
  align-items: $valign;
}

$primary-color: #85b8f2;
$blue-shadow: rgba(19, 44, 245, 0.1);
$nl100: rgba(255, 255, 255, 1);
$nl90: rgba(255, 255, 255, 0.9);
$nl80: rgba(255, 255, 255, 0.8);
$nl70: rgba(255, 255, 255, 0.7);
$nl60: rgba(255, 255, 255, 0.6);
$nl50: rgba(255, 255, 255, 0.5);
$nl40: rgba(255, 255, 255, 0.4);
$nl30: rgba(255, 255, 255, 0.3);
$nl20: rgba(255, 255, 255, 0.2);
$nl10: rgba(255, 255, 255, 0.1);
$nd03: rgba(0, 0, 0, 0.03);
$nd04: rgba(0, 0, 0, 0.04);
$nd06: rgba(0, 0, 0, 0.06);
$nd08: rgba(0, 0, 0, 0.08);
$nd12: rgba(0, 0, 0, 0.12);
$nd16: rgba(0, 0, 0, 0.16);
$nd20: rgba(0, 0, 0, 0.2);
$nd30: rgba(0, 0, 0, 0.3);
$nd40: rgba(0, 0, 0, 0.4);
$nd50: rgba(0, 0, 0, 0.5);
$nd60: rgba(0, 0, 0, 0.6);
$nd70: rgba(0, 0, 0, 0.7);
$nd80: rgba(0, 0, 0, 0.8);
$nd90: rgba(0, 0, 0, 0.9);
$nd100: rgba(0, 0, 0, 1);
$title: #445055;
$desc: #767f85;
$sub: #aab7be;
$b50: rgba(37, 39, 54, 0.5);
$b100: rgba(37, 39, 54, 0.6);
$b200: rgba(37, 39, 54, 0.8);
$b300: rgba(37, 39, 54, 1);
$y100: #f1ff7a;
$y100bg: rgba(255, 255, 163, 0.5);
