@import "../../assets/css/variables.scss";

.card {
	width: calc((100% - 4rem) / 3);
	border: 1px solid $nd08;
	border-radius: 16px;
	background-color: $nl100;
	overflow: hidden;
	cursor: pointer;
	transition: all 0.5s;

	&:hover {
		transform: scale(1.05);
	}

	img {
		width: 100%;
		height: 14rem;
		object-fit: cover;
	}

	.info {
		padding: 0.8rem 1.5rem 1.2rem;
		line-height: 1.4;
		text-align: left;

		.title {
			color: $nd100;
			font-weight: 600;
			font-size: 15px;
		}

		.date {
			color: $nd50;
			font-size: 12px;
		}
	}
}

@media (max-width: 768px) {
	.card {
		width: 100%;
	}
}
