@import "../assets/css/variables.scss";

.about {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  font-size: 16px;

  .body {
    word-break: keep-all;
    padding: 0 16px;
    font-size: 18px;
    margin-top: 24px;
    line-height: 1.8;

    p {
      margin: 0.6em 0 0.6rem;
      font-weight: 400;
      color: $b200;
      b {
        font-weight: 600;
        color: $b200;
      }
    }

    h1,
    h2,
    h3,
    h4 {
      margin: 1.2em 0 0.4em;
      color: $b300;
    }
    .name {
      margin-bottom: 0;
      span {
        font-size: 0.6em;
        font-weight: 400;
      }
    }

    .detail-info {
      margin: 24px 0;
      a {
        font-size: 14px;
        font-weight: 400;
        color: $nd40;
        margin-right: 12px;
        text-decoration: underline;
        &:visited {
          color: $nd40;
        }
      }
      p {
        font-size: 14px;
        margin: 0;
      }
    }

    .skill-group {
      @include flex(flex-start, start);
      flex-wrap: wrap;
      gap: 15px;
      .skill {
        padding: 10px 20px;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        border: 1px solid $primary-color;
        border-radius: 15px;
        box-shadow: 10px 10px 10px 0 rgba(68, 68, 68, 0.2);

        h3 {
          color: $primary-color;
          margin: 0 0 10px;
          border-bottom: 1px solid $nd04;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .about {
    margin: 0 auto;
    padding: 0px;
    .body {
      font-size: 15px;
      padding: 0 24px;
    }
  }
}
