@import "../assets/css/variables.scss";

.about {
	width: 100%;
	max-width: 768px;
	margin: 0 auto;
	padding: 0 16px;
	word-break: keep-all;

	.body {
		hr {
			border-color: $nd06;

			margin-bottom: 24px;
		}

		.introduce {
			font-size: 18px;
			line-height: 1.8;

			.name {
				margin-bottom: 0;
				margin: 1.2em 0 0.4em;
				color: $b300;
			}

			p {
				margin: 0.6em 0 0.6rem;
				font-weight: 400;
				color: $b200;
				b {
					font-weight: 600;
				}
			}
		}

		.personal-info {
			display: flex;
			gap: 16px;
			margin: 32px 0;
			font-size: 14px;
			color: $nd40;
			a {
				color: $nd40;
				margin-right: 12px;
				text-decoration: underline;
				&:visited {
					color: $nd40;
				}
			}
		}

		.skill-wrapper {
			@include flex(flex-start, start);
			flex-direction: column;
			flex-wrap: wrap;
			gap: 24px;

			.skill {
				display: flex;
				.skill-title {
					color: $b200;
					margin-right: 24px;
					font-size: 16px;
					margin-top: 4px;
				}

				.skill-item-group {
					display: flex;
					flex-wrap: wrap;
					gap: 8px;
					row-gap: 12px;
					.skill-item {
						color: $primary-color;
						font-size: 15px;
						padding: 6px 14px;
						background-color: $nd04;
						border-radius: 32px;
					}
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.about {
		margin: 0 auto;
		padding: 0px;
		.body {
			padding: 0 24px;

			.introduce {
				font-size: 15px;
			}

			.personal-info {
				font-size: 12px;
			}

			.skill-wrapper {
				.skill {
					.skill-title {
						font-size: 15px;
					}

					.skill-item-group {
						.skill-item {
							font-size: 14px;
						}
					}
				}
			}
		}
	}
}
