@import "./assets/css/variables.scss";
@import "./assets/css/detail.scss";
@import "./assets/css/font.scss";

html {
	font-family: "Wanted Sans Variable", "Wanted Sans", -apple-system, BlinkMacSystemFont, system-ui, "Segoe UI",
		"Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
		sans-serif, "Montserrat";
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	padding: 0;
	line-height: 1.6;
}

@media (max-width: 1280px) {
	.layout-container {
		max-width: 768px;
	}
}
